@font-face {
    font-family: 'Montserrat';
    src: url("/responsive-layout/dist/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Oswald';
    src: url("/responsive-layout/dist/fonts/Oswald-Bold.ttf");
}