@use '../helpers/' as *;

.footer {
  background-color: $clr-primary;
  color: $white;

  &__message {
    text-align: center;
    padding-bottom: 2em;
  }

  .grid div {
    padding: 2em 0;
  }

  &__item {
    padding-bottom: 2em;
  }

  &__link {
    color: $white;
    @include transition-ease;
  }



  @include mq(medium) {
    .grid {
      display: grid;
      grid-template-columns: 500px 1fr 1fr 1fr;
      gap: 4em;
    }
  }
}
